*{
	margin: 0;
	padding: 0;
}
.out-box{
	/*border: solid 1px #000;*/
	overflow: hidden;
	width: 50%;
}
.insder-box{
	border-radius: 8%;
	/*order: solid 1px #000;*/
	background-color: #FFA600;
	width: 27%;
	padding-top: 27%;
	float: left;
	margin: 1%;
}
